@import "tailwindcss";

@theme {
  --color-primary: #ff004e;
  --color-secondary: #000;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #cecece;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #014700;
  border-radius: 15px;
  animation-duration: 3s;
}
